<div id="app"></div>
<%= link("Add Job", to: "/add/job/#{@board_id}") %>


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
        window.renderJobs("<%= @board_id %>");
        });
    </script>
