<h1>Job page <%= @job %></h1>

<div id="app"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
        window.renderJob(<%= @job %>, "<%= @board_id %>");
        });
    </script>
