<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<h1>Job page <%= @job %></h1>

<div id="app"></div>

<div id="editor"></div>


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
        window.renderJob(<%= @job %>, "<%= @board_id %>");
        });
    </script>
